set_io clk D6
set_io rst C6

set_io data_in[0] D4
set_io data_in[1] D7

set_io clk_out_wire R10

set_io data_modulated[0] B11
set_io data_modulated[1] B10
set_io data_modulated[2] B9
set_io data_modulated[3] D8
set_io data_modulated[4] A11
set_io data_modulated[5] A10
set_io data_modulated[6] A9
set_io data_modulated[7] B8

set_io sin_out[0] B4
set_io sin_out[1] C3
set_io sin_out[2] A2
set_io sin_out[3] A5
set_io sin_out[4] B5
set_io sin_out[5] B3
set_io sin_out[6] B6
set_io sin_out[7] B7

set_io cos_out[0] N6
set_io cos_out[0] L7
set_io cos_out[0] G5
set_io cos_out[0] L9
set_io cos_out[0] N7
set_io cos_out[0] M8
set_io cos_out[0] P9
set_io cos_out[0] N9
